.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid pink;
}
header{
    width: 100%;
    border: 2px solid purple;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.logo{
    width: 122px;
    height: 95px;
    margin-left: 140px;
    margin-right: 300px;
}

nav{
    padding-right: 82px;
}

ul{
    display: flex;
    gap: 70px;
}

.section1{
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../img/download.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}